<!-- NOTE: unused file, but u can use if necessary -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">&laquo; newer</a>
  {% else %}
    <span>&laquo; newer</span>
  {% endif %}
  
  
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span>{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  
  
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">older &raquo;</a>
  {% else %}
    <span>older &raquo;</span>
  {% endif %}
</div>
